<div class="container">
  <div class="row">
    <h1 class="col-md-10">Author Page</h1>
    <button routerLink="/author/add" class="btn btn-success col-md-2 my-3">Add New Author</button>
    <div class="table-container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Birth Date</th>
          <th>Image</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of Author">
          <td>{{row.firstName}}</td>
          <td>{{row.LastName}}</td>
          <td>{{row.birthDate}}</td>
          <td><img [src]="row.image" [alt]="row.firstName" class="author-image"></td>
          <td>
            <button routerLink="update/{{row._id}}" class="btn btn-primary ">Edit</button>
            <button (click)="delete(row._id)" class="btn btn-danger m-2">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
  </div>
  </div>
