<div class="container">
  <div class="row">
    <h1 class="col-md-10">Author</h1>
    <a routerLink="/author/add"  class="btn btn-success col-md-2 my-3">Add Authors </a>
    <div class="table-container">
    <table class="table table-bordered">
      <thead>
        <tr class="text-center">
          <th>First Name</th>
          <th>Last Name</th>
          <th>Image</th>
          <th>Date of Birth</th>
          <th>Brief</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let row of Author">
          <td>{{row.firstName}}</td>
          <td>{{row.lastName}}</td>
          <td><img [src]="row.photo" [alt]="row.firstName" class="author-image"></td>
          <td>{{row.dob}}</td>
          <td>{{row.brief}}</td>
          <td class="text-center">
            <button routerLink="/update/{{row._id}}" class="btn btn-secondary ">Edit</button>
            <button (click)="deleteAuthor(row._id)" class="btn btn-danger m-2">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
  </div>
  </div>
