<div class="footer">
<div class="container-fluid bg-black text-white fixed py-3 px-5">
    <div class="row">
        <div class="col-md-3">
            <p><i class="fa-solid fa-phone"></i><span class="mx-2">0223445624</span></p>
            <p><i class="fa-solid fa-envelope"></i><span class="mx-2">goodread@gmail.com</span></p>
        </div>
        <div class="col-md-6 text-center">
            <p>&copy; 2023 - 2023 Good Reads CC. All rights reserved</p>
        </div>
        <div class="col-md-3 text-end">
            <h4>Contact us</h4>
            <a><i class="fa-brands fa-instagram icon mx-2"></i></a>
            <a><i class="fa-brands fa-facebook icon mx-2"></i></a>
            <a><i class="fa-brands fa-twitter icon mx-2"></i></a>
        </div>
    </div>
</div>
</div>


  