
.back{
    border: 1px solid #000000;
    background-image: url("../../assets/images/47.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 6px;
    color: white;
    height: 190px;
   
}
.row{
    justify-content: center;
}

.container{
    min-height: 75vh;
}