<div class="home">
  <div class="row">
    <div class="col-md-6 text-end">
      <h2 class="f">We Build</h2>
    </div>
    <div class="col-md-6 text-start">
      <h2 class="f pt-5 mt-3">Your Mind</h2>
    </div>
  </div>
  <div class="text-center mt-5">
    <a href="#books" class="animated-link">Enter Our World</a>
  </div>
</div>


<div id="books" class="container">
  <div class="row">
    <div class="col-md-4 my-3" *ngFor="let book of books">

        <app-book-card [book]="book"></app-book-card>
        
        
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li id="box" [ngClass]="{'disabled':page==1,'page-item':true} ">
          <a class="page-link" (click)="prevPage()">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="pageNumber(1)">1</a></li>
        <li class="page-item"><a class="page-link" (click)="pageNumber(2)">2</a></li>
        <li class="page-item"><a class="page-link"(click)="pageNumber(3)">3</a></li>
        <li class="page-item">
          <a class="page-link" (click)="nextPage()">Next</a>
        </li>
      </ul>
    </nav>
</div>
</div>

