<div class="container my-5">
  <div class="row g-5">
    <div *ngFor="let author of allAuthors" class="col-lg-4 col-md-6">
      <a [routerLink]="['/author-detail', author?._id]">
        <div class="border rounded-2 text-center p-3">
          <img class="img-fluid" [src]="'http://localhost:5000/src/assets/images/authors/'+author?.photo" alt="">
          <hr>
          <h3><span>{{ author?.firstName }}</span><span> {{ author?.lastName }}</span></h3>
        </div>
      </a>
  
    </div>
  
  </div>
</div>

