<div class="container">
    <br>
    <div>
        <button type="button" class="btn btn-primary add">Add</button>

    </div>
    <br>
    <br>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">photo</th>
                        <th scope="col">Name</th>
                        <th scope="col">category</th>
                        <th scope="col">auhor</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of book">
                        <td><img class="img-fluid" src={{row.photo}}></td>
                        <td>{{row.name}}</td>
                        <td>{{row.category}}</td>
                        <td>{{row.author}}</td>
                        <td><button type="button" class="btn btn-secondary">Edit</button></td>
                        <td><button type="button" class="btn btn-danger">Delete</button></td>
                    </tr>

                </tbody>
            </table>
        </div>
    