<div>
  <div class="row flex-nowrap">
      
  <div class="row">
          <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 first">
              <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                  <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                      <span ><img src="../../assets/images/p1.png"></span><span class="title ">Dashboard</span>
                  </a>
                  <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                      <li>
                          <a routerLink="/admin/adminbook" class="nav-link px-0 align-middle">
                              <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline"><i class="fa-solid fa-book-bookmark mx-2"></i>Books</span></a>
                      </li>
                      
                      <li>
                          <a routerLink="/admin/admincategory" class="nav-link px-0 align-middle">
                              <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline"><i class="fa-brands fa-readme mx-2"></i>Categories</span> </a>
                      </li>
                      <li>
                        <a routerLink="/admin/adminauthors" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline"><i class="fa-solid fa-pen-to-square mx-2"></i>Authors</span> </a>
                    </li>
                      <li>
                          <a routerLink="/admin/adminauthor" class="nav-link px-0 align-middle">
                              <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline"><i class="fa-solid fa-pen-to-square mx-2"></i>Authors</span> </a>
                      </li>
                      <li>
                          <a  class="nav-link px-0 align-middle">
                              <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline"><i class="fa-solid fa-arrow-right-from-bracket mx-2"></i>logout</span> </a>
                      </li>
                  </ul>
                  <hr>
                
              </div>
          </div>     
  
      <div class="col-lg-9 col-md-9 col-sm-9">
        <div class="container pt-5 text-end pb-3">
          <button (click)="addform()" class="btn btn-primary text-white">Add book</button>
        </div>
        
        <form *ngIf="activeAddbutton" class="w-75 m-auto py-5"  [formGroup]="addBook" (ngSubmit)="add(addBook , token)">
            
          <div class="form-group my-2">
              <label>Name</label>
              <input [class.is-valid]="addBook.get('title')?.errors ==null && addBook.get('name')?.touched"
              formControlName='name' type="text" class="form-control">
              <p *ngIf="addBook.get('name')?.errors !=null && addBook.get('name')?.touched"
              class="py-2 text-danger">inValid</p>
          </div>
          <div class="form-group my-2">
              <label>title</label>
              <input [class.is-valid]="addBook.get('title')?.errors ==null && addBook.get('title')?.touched"
              formControlName='title' type="text" class="form-control">
              <p *ngIf="addBook.get('title')?.errors !=null && addBook.get('title')?.touched"
              class="py-2 text-danger">inValid</p>
          </div>
          <div class="form-group my-2">
              <label>desc</label>
              <input [class.is-valid]="addBook.get('desc')?.errors ==null && addBook.get('desc')?.touched"
              formControlName='desc' type="text" class="form-control">
              <p *ngIf="addBook.get('desc')?.errors !=null && addBook.get('desc')?.touched"
              class="py-2 text-danger">inValid</p>
          </div>
          <div class="form-group my-2">
              <label>author</label>
              <select id="" [class.is-valid]="addBook.get('author')?.errors ==null && addBook.get('author')?.touched"
              formControlName='author' type="text" class="form-control">
              <option *ngFor="let author of author" [value]="author._id" >{{author.firstName}} {{author.lastName}}</option>
            </select>
          </div>
          <div class="form-group my-2">
              <label>category</label>
              <select id="" [class.is-valid]="addBook.get('category')?.errors ==null && addBook.get('category')?.touched"
              formControlName='category' type="text" class="form-control">
              <option *ngFor="let category of category" [value]="category._id" >{{category.fullname}}</option>
            </select>
          </div>
          <div class="form-group my-2">
            <label>photo</label>
            <input [class.is-valid]="addBook.get('photo')?.errors ==null && addBook.get('photo')?.touched"
            formControlName='photo' type="file" class="form-control">
        </div>
  
  
  
          <button [disabled]="addBook.invalid" type="submit" class="btn btn-danger text-white my-2">Add</button>
      </form>
      <table class="table">
        <thead>
            <tr>
                <th scope="col">photo</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of book">
                <td><img class="img-fluid" src={{row.photo}} width="50px"></td>
                <td>{{row.name}}</td>
                <td>{{row.desc}}</td>
                <td><button type="button" class="btn btn-secondary">Edit</button></td>
                <td><button type="button" class="btn btn-danger" (click)="deletebook(row._id , token)">Delete</button></td>
            </tr>

        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li id="box" [ngClass]="{'disabled':page==1,'page-item':true} ">
            <a class="page-link text-danger" (click)="prevPage()"><i class="fa-solid fa-angle-left px-1"></i></a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="nextPage()"><i class="fa-solid fa-angle-right px-1 text-danger"></i></a>
          </li>
        </ul>
      </nav>
</div>
       
    </div>
  
  
      </div>
      
  
      
      <div class="col py-0 w-70">
          <router-outlet></router-outlet>
         </div>
  </div>





<!-- <div>
    <br>
    <div>
          <form class="w-75 m-auto py-5"  [formGroup]="addBook" (ngSubmit)="add(addBook , token)">
            
            <div class="form-group my-2">
                <label>Name</label>
                <input [class.is-valid]="addBook.get('title')?.errors ==null && addBook.get('name')?.touched"
                formControlName='name' type="text" class="form-control">
                <p *ngIf="addBook.get('name')?.errors !=null && addBook.get('name')?.touched"
                class="py-2 text-danger">inValid</p>
            </div>
            <div class="form-group my-2">
                <label>title</label>
                <input [class.is-valid]="addBook.get('title')?.errors ==null && addBook.get('title')?.touched"
                formControlName='title' type="text" class="form-control">
                <p *ngIf="addBook.get('title')?.errors !=null && addBook.get('title')?.touched"
                class="py-2 text-danger">inValid</p>
            </div>
            <div class="form-group my-2">
                <label>desc</label>
                <input [class.is-valid]="addBook.get('desc')?.errors ==null && addBook.get('desc')?.touched"
                formControlName='desc' type="text" class="form-control">
                <p *ngIf="addBook.get('desc')?.errors !=null && addBook.get('desc')?.touched"
                class="py-2 text-danger">inValid</p>
            </div>
            <div class="form-group my-2">
                <label>author</label>
                <select id="" [class.is-valid]="addBook.get('author')?.errors ==null && addBook.get('author')?.touched"
                formControlName='author' type="text" class="form-control">
                <option *ngFor="let author of author" [value]="author._id" >{{author.firstName}} {{author.lastName}}</option>
              </select>
            </div>
            <div class="form-group my-2">
                <label>category</label>
                <select id="" [class.is-valid]="addBook.get('category')?.errors ==null && addBook.get('category')?.touched"
                formControlName='category' type="text" class="form-control">
                <option *ngFor="let category of category" [value]="category._id" >{{category.fullname}}</option>
              </select>
            </div>
            <div class="form-group my-2">
              <label>photo</label>
              <input [class.is-valid]="addBook.get('photo')?.errors ==null && addBook.get('photo')?.touched"
              formControlName='photo' type="file" class="form-control">
          </div>
    
    
    
            <button [disabled]="addBook.invalid" type="submit" class="btn btn-danger text-white my-2">Add</button>
        </form>
    
    
        </div>
        <br>
        <br>
    
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">photo</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of book">
                    <td><img class="img-fluid" src={{row.photo}} width="50px"></td>
                    <td>{{row.name}}</td>
                    <td>{{row.desc}}</td>
                    <td><button type="button" class="btn btn-secondary">Edit</button></td>
                    <td><button type="button" class="btn btn-danger" (click)="deletebook(row._id , token)">Delete</button></td>
                </tr>
    
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li id="box" [ngClass]="{'disabled':page==1,'page-item':true} ">
                <a class="page-link" (click)="prevPage()"><i class="fa-solid fa-angle-left px-1"></i></a>
              </li>
              <li class="page-item">
                <a class="page-link" (click)="nextPage()"><i class="fa-solid fa-angle-right px-1"></i></a>
              </li>
            </ul>
          </nav>
    </div>
        

        
      -->