
.first{
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 20px;
  }
  img{
    width: 50px;
    height: 50px;
    
  }
  a .title{
    font-size: 25px;
    font-weight: 500;
    margin-top: 6px ;
  }
  a{
    color: white;
  }
  .blue{
    color: red !important;
  }