/* You can add global styles to this file, and also import other style files */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');


a{
    cursor: pointer;
}
html {
    background-color: #000;
  }
.active{
    border-bottom: 2px solid white;
  }