/* You can add global styles to this file, and also import other style files */

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');


a{
    cursor: pointer;
}
.card{
    height: 750px !important;
   
}